/* Body */
body {
  background-color: #FEFEFE;
  color: #293147;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #293147;
}

/* Links */
a {
  color: #293147;
}

a:hover {
  color: #FEC32B;
}

/* Buttons */
.button {
  background-color: #FEC32B;
  color: #FEFEFE;
}

.button:hover {
  background-color: #293147;
  color: #FEFEFE;
}

/* Logo */
.logo {
  color: #FEFEFE;
  background-color: #293147;
}

/* Color Scheme */
.white {
  color: #FEFEFE;
  background-color: #FEFEFE;
}

.blue {
  color: #FEFEFE;
  background-color: #0041C2;
}

.yellow {
  color: #293147;
  background-color: #FEC32B;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

